header {
  position: sticky;
  top: 0;
  z-index: 3;
}

mat-toolbar {
  margin: 0 0 0 0;
}

.header-container {
  margin: 0 auto 0 auto;
  width: 1400px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav a {
  margin: 0 2px;
}

@media (min-width: 1200px) {
  nav a {
    margin: 0 20px;
  }
}

.nav-a {
  font-size: 20px;
  font-weight: 500;
}

.nav-a:hover,
.nav-a:focus {
  background: rgba(0, 0, 0, 0.4);
}

.nav-a-selected {
  background: rgba(0, 0, 0, 0.2);

}

.search {
  display: flex;
}

.search-input {
  box-sizing: border-box;
  border-radius: 4px;
  border: 0px;
  background-color: #028da0;
  outline: none;
  text-shadow: none;
  outline: none;
  color: white;

}

.search-input::placeholder {
  color: white;
}

.search-input:hover {
  background-color: #1de9b6;
}

.login {
  margin-left: 5px;
}

#logo {
  color: white;
  font-weight: bold;
  font-size: 2em;
}

#logo:hover {
  color: #1de9b6;
}

.search {
  display: flex;
  align-self: center;
}

.avatar {
  border-radius: 100%;
  margin-left: auto;
}

.burger {
  display: none;
}

.icon-notification{
  margin-left: 10px;
  font-size: 30px;
  overflow: visible;
}

.notification-menu{
  display: flex;
  flex-direction: column;
}

@media (max-width: 650px) {
  .menu {
    display: none;
    position: absolute;
    top: 56px;
    left: 0;
    right: 0;
    background-color: #00acc1;
  }

  .burger {
    display: block;
    cursor: pointer;
  }

  .burger:hover {
    color: white;
  }

  .menu a {
    display: block;
    padding: 10px;
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
  }

  .menu a:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }

  .menu a.nav-a-selected {
    background-color: rgba(0, 0, 0, 0.4);
  }

  .show-menu .menu {
    display: block;
  }

  .icon-search{
    display: none;
  }

  .icon-notification{
    margin-left: 0px;
    font-size: 24px;
  }
  
}