.container-page{
    display: flex;
    flex-direction: column; 
}
.wrapper{
   display: flex;  
   flex-direction: row;
   justify-content: space-between;
}
.game-list{
   margin: 0px auto 0px auto;
}
.game-container{
   display: flex;
   flex-direction: row;
   background-color: #7a7a7a31;
   padding: 10px 10px 10px 10px;
   margin-top: 20px;
   border-radius: 4px;
   max-width: 720px;
}
.game-title{
   font-size: 20px;
   margin-bottom: 5px;
}
.game{
   display: flex;
   flex-direction: column;
}
.game-img{
   border-radius: 4px;
}
.game-content{
   display: flex;
   flex-direction: column;
   margin-left: 15px;
}
.game-content-span{
   margin-bottom: 5px;
}

@media (max-width: 650px) {
   .game-container {
     flex-direction: column;
     max-width: 100%;
   }
 
   .game-img {
     width: 100%;
     height: auto;
   }
 
 }