<div class="container-page">

    <div class="wrapper">

        <mat-form-field class="sorting">
            <mat-label>Id</mat-label>
            <input matInput [(ngModel)]="id">
        </mat-form-field>

        <mat-form-field class="sorting">
            <mat-label>Name</mat-label>
            <mat-select [(value)]="name">
                <mat-option value="Game">Game</mat-option>
                <mat-option value="Post">Post</mat-option>
                <mat-option value="PostMessage">Post Message</mat-option>
                <mat-option value="PostReplie">Post Replie</mat-option>
                <mat-option value="GameComment">Game Comment</mat-option>
                <mat-option value="GameReplie">GameReplie</mat-option>
            </mat-select>
        </mat-form-field>

        <a mat-raised-button color="warn" (click)="delete()">Delete</a>

    </div>

</div>