<button mat-raised-button color="accent"><a href="add-game">Add Game</a></button>
<table>
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>ReleaseDate</th>
        <th>HeaderImage</th>
        <!-- <th>Nsfw</th> -->
        <th>Description</th>
        <!-- <th>AchievementsCount</th> -->
    </tr>
    <tr *ngFor="let game of games">
        <th>{{game.id}}</th>    
        <th><input [(ngModel)]="game.title"></th>    
        <th><input [(ngModel)]="game.releaseDate"></th>    
        <th><input [(ngModel)]="game.headerImage"></th>    
        <!-- <th>{{game.nsfw}}</th> -->
        <th><input [(ngModel)]="game.description"></th>
        <!-- <th>{{game.achievementsCount}}</th>     -->
        <th><button mat-button color="primary" (click)="deleteGame(game.id)">delete</button></th>
        <th><button mat-button color="accent" (click)="updateGame(game)">update</button></th>
    </tr>
</table>