<div class="container-page">
    <div class="wrapper">
        <div class="game-list">
            <div *ngFor="let game of games" class="game-container">
                <div class="game">
                    <img mat-card-image class="game-img" src="{{game.headerImage}}" [height]="150">
                </div>
                <div class="game-content">
                    <a href="/game?id={{game.id}}" class="game-title"><b>{{game.title}}</b></a>
                    <span class="game-content-span">Release Date: {{game.releaseDate.slice(0,-9)}}</span>
                    <span class="game-content-span">Genre: <span *ngFor="let item of game.genres">{{item.gameString}}
                        </span></span>
                    <span class="game-content-span">Publisher: <a *ngFor="let item of game.publishers"
                            href="/game/filter?type=publisher&name={{item.gameString}}">{{item.gameString}} </a></span>
                    <span class="game-content-span">Developer: <a *ngFor="let item of game.developers"
                            href="/game/filter?type=developer&name={{item.gameString}}">{{item.gameString}} </a></span>
                </div>
            </div>
        </div>
        <button mat-icon-button (click)="toggleFilters()" class="burger-filter-button">
            <mat-icon>filter_list</mat-icon>
        </button>
        <div class="right-wrapper" [class.show-wrapper]="showFilters">
            <mat-form-field class="sorting">
                <mat-label>Choose a sorting</mat-label>
                <mat-select [(value)]="sortFilters.Sorting">
                    <mat-option value="titleAtoZ">Title A to Z</mat-option>
                    <mat-option value="titleZtoA">Title Z to A</mat-option>
                    <mat-option value="dateAscending">Date Ascending</mat-option>
                    <mat-option value="dateDescending">Date Descending</mat-option>
                </mat-select>
            </mat-form-field>
            <div class="filters">
                <span class="filter-title">Filters</span>
                <span class="filer-subtitle">Release Date</span>
                <div class="dense-1">
                    <mat-form-field>
                        <input matInput [matDatepicker]="pickerOf" placeholder="Of" [(ngModel)]="sortTemp.dateOf">
                        <mat-datepicker-toggle matIconSuffix [for]="pickerOf"></mat-datepicker-toggle>
                        <mat-datepicker #pickerOf></mat-datepicker>
                    </mat-form-field>
                    <span class="dash">—</span>
                    <mat-form-field>
                        <input matInput [matDatepicker]="pickerTo" placeholder="To" [(ngModel)]="sortTemp.dateTo">
                        <mat-datepicker-toggle matIconSuffix [for]="pickerTo"></mat-datepicker-toggle>
                        <mat-datepicker #pickerTo></mat-datepicker>
                    </mat-form-field>
                </div>

                <div class="filer-subtitle">
                    <span class="filer-title">Nsfw:</span>

                    <mat-checkbox color="primary" (change)="changeCheckbox1()" [(indeterminate)]="indeterminate"
                        [(ngModel)]="sortFilters.Nsfw" [ngModelOptions]="{standalone: true}"
                        class="filter-nsfw">Nsfw</mat-checkbox>
                </div>

                <span class="filer-subtitle">Genres</span>

                <cdk-virtual-scroll-viewport itemSize="auto" class="list-genres">
                    <ng-container *ngIf="filtersArray && filtersArray.length">
                        <mat-checkbox *cdkVirtualFor="let genre of filtersArray" name="{{genre.name}}" color="primary"
                            (change)="onChange($event)">{{genre.name}}</mat-checkbox>
                    </ng-container>
                </cdk-virtual-scroll-viewport>

                <span class="filer-subtitle">Tags</span>

                <cdk-virtual-scroll-viewport itemSize="auto" class="list-genres">
                    <ng-container *ngIf="tagsArray && tagsArray.length">
                        <mat-checkbox *cdkVirtualFor="let genre of tagsArray" name="{{genre.name}}" color="primary"
                            (change)="onChangeTags($event)">{{genre.name}}</mat-checkbox>
                    </ng-container>
                </cdk-virtual-scroll-viewport>

                <span class="filer-subtitle">Rate</span>

                <div class="rate">
                    <mat-form-field>
                        <mat-label>Of</mat-label>
                        <input matInput type="number" min="0" max="10" oninput="validity.valid||(value='');"
                            [(ngModel)]="sortFilters.RateOf">
                    </mat-form-field>

                    <span class="dash">—</span>

                    <mat-form-field>
                        <mat-label>To</mat-label>
                        <input matInput type="number" min="0" max="10" oninput="validity.valid||(value=''); "
                            [(ngModel)]="sortFilters.RateTo">
                    </mat-form-field>
                </div>

                <span class="filer-subtitle">Status Game Progressions</span>
                <cdk-virtual-scroll-viewport itemSize="auto" class="list-status">
                    <ng-container *ngIf="gamesStatusArray && gamesStatusArray.length">
                        <mat-checkbox *cdkVirtualFor="let status of gamesStatusArray" name="{{status.number}}"
                            color="primary"
                            (change)="onChangeStatusProgressions($event)">{{gameStatus[status.number]}}</mat-checkbox>
                    </ng-container>
                </cdk-virtual-scroll-viewport>

                <a mat-button color="primary" (click)="find()">Find</a>

            </div>
        </div>
    </div>
</div>