<div class="container-page">
    <h2>Add game from Steam</h2>
    <div class="div-inputs">
        <mat-form-field>
            <mat-label>AppId</mat-label>
        <input matInput type="number" [(ngModel)]="appId" [ngModelOptions]="{standalone: true}" placeholder="Example: 220" />
        </mat-form-field>

        <button mat-raised-button color="primary" (click)="addGameFromSteam()">Add</button>
    </div>
    <!-- <div>
        <h2>Add game</h2>

        <mat-form-field>
            <mat-label>Title</mat-label>
            <input matInput type="text" [(ngModel)]="name" [ngModelOptions]="{standalone: true}" />
        </mat-form-field>
        
        <mat-form-field>
            <mat-label>Date Release</mat-label>
            <input matInput type="date" [(ngModel)]="date" [ngModelOptions]="{standalone: true}" />
        </mat-form-field>
        
        <mat-form-field>
            <mat-label>Header Image (url)</mat-label>
            <input matInput type="url" [(ngModel)]="image" [ngModelOptions]="{standalone: true}" />
        </mat-form-field>
        
        <mat-checkbox [(ngModel)]="nsfw" [ngModelOptions]="{standalone: true}">Nsfw</mat-checkbox>

        <button (click)="createGame()">save</button>
    </div> -->
</div>

