<div class="container-page">
    <div class="profile-info-container">
        <span class="nickname">{{profile.nickName}}</span>
        <img class="avatar" src="{{profile.avatar}}">
        <div class="time">
            <span>Total time: {{profile.totalHours}}</span>
            <span>Verified time: {{profile.totalHoursVerification}}</span>
            <span>Not validation time: {{profile.totalHoursNotVerification}}</span>
        </div>
    </div>
    <span>{{gamesCount}}</span>
    <div class="game-menu">
        <button mat-button [ngClass]="{ 'active': selectedState === 'all' }" (click)="selectState('all')">All</button>
        <button mat-button [ngClass]="{ 'active': selectedState === 'playing' }"
            (click)="selectState('playing')">Playing</button>
        <button mat-button [ngClass]="{ 'active': selectedState === 'completed' }"
            (click)="selectState('completed')">Completed</button>
        <button mat-button [ngClass]="{ 'active': selectedState === 'dropped' }"
            (click)="selectState('dropped')">Dropped</button>
        <button mat-button [ngClass]="{ 'active': selectedState === 'planned' }"
            (click)="selectState('planned')">Planned</button>
    </div>
    <div class="sort">
        <mat-form-field class="sort">
            <mat-label>Sorting</mat-label>
            <mat-select [(ngModel)]="sort" (selectionChange)="selectState(selectedState)">
                <mat-option [value]="'titleAtoZ'">Title A to Z</mat-option>
                <mat-option [value]="'titleZtoA'">Title Z to A </mat-option>
                <mat-option [value]="'hoursAsc'"> Hours Ascending</mat-option>
                <mat-option [value]="'hoursDesc'">Hours Descending</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="sort">
            <mat-label>Verification hours</mat-label>
            <mat-select [(ngModel)]="verefication" (selectionChange)="selectState(selectedState)">
                <mat-option [value]="'yes'">Yes</mat-option>
                <mat-option [value]="'no'">no</mat-option>
            </mat-select>
        </mat-form-field>

    </div>

    <div>
        <span class="nickname">Total hours: {{profile.totalHoursForSort}}</span>
    </div>

    <div class="game-list">
        <div *ngFor="let game of profile.gameList">
            <div class="game-container">
                <a href="game?id={{game.id}}"
                    *ngIf="game.title.length > 30;else elseBlock">{{game.title.slice(0,30)}}..</a>
                <ng-template #elseBlock>
                    <a href="game?id={{game.id}}">{{game.title}}</a>
                </ng-template>

                <a href="game?id={{game.id}}"><img src="{{game.headerImage}}" [height]="115" [width]="250"
                        class="game-image" /></a>

                <span class="hoursVereficated">Hours Vereficated: {{game.hoursVereficated}}</span>

                <div class="not-verification-hours">
                    <span>Hours: {{game.hours}}</span>

                    <span>{{gameStatus[game.statusGame]}}</span>                   
                </div>
            </div>
        </div>
    </div>
</div>