<div class="container-page">

    <div class="search">
        <mat-icon class="search-icon">search</mat-icon>
        <input class="search-input" (keyup.enter)="find()" [(ngModel)]="sortForForum.SearchString">
        <a mat-raised-button color="accent" routerLink="add">Create Post</a>
    </div>

    <div class="wrapper">

        <div class="forum-list">
            <div class="forum-container" *ngFor="let post of posts">

                <div class="forum">
                    <span class="rating">{{post.rating}}</span>
                </div>
                <div class="forum-content">
                    <a href="forum/{{post.id}}" class="forum-title">{{post.title}}</a>
                    <span class="description">{{post.description.slice(0,30)}}</span>
                    <span>Created: {{post.created.slice(0,10)}}</span>
                    <span>Languages: <span *ngFor="let language of post.languages">{{language.stringFor}} </span>
                    </span>
                    <span *ngIf="post.closed == true;else elseBloc">Status: Closed</span>
                    <ng-template #elseBloc>
                        <span>Status: Open</span>
                    </ng-template>
                    <span>Games: <a href="game?id={{game.id}}" *ngFor="let game of post.games">{{game.title}} </a> </span>
                    <span>Topic: {{post.topic}}</span>
                    <span>Author: <a href="profile/{{post.author}}">{{post.profile.name.value}}</a></span>
                </div>


            </div>

        </div>

        <button mat-icon-button (click)="toggleFilters()" class="burger-filter-button">
            <mat-icon>filter_list</mat-icon>
        </button>

        <div class="right-wrapper" [class.show-wrapper]="showFilters">

            <mat-form-field class="sorting">
                <mat-label>Choose a sorting</mat-label>
                <mat-select [(value)]="sortForForum.Sorting">
                    <mat-option value="lastReplies">Last Replies</mat-option>
                    <mat-option value="countRating">Rating Descending</mat-option>
                    <mat-option value="countReplies">Count Replies</mat-option>
                    <mat-option value="dateCreateAscending">Date Create Ascending</mat-option>
                    <mat-option value="dateCreateDescending">Date Create Descending</mat-option>
                </mat-select>

            </mat-form-field>
            <div class="filters">

                <span class="filter-title">Filters</span>

                <span class="filer-subtitle">Create Post Date</span>

                <div class="dense-1">

                    <mat-form-field>
                        <input matInput [matDatepicker]="pickerOf" placeholder="Of"
                            [(ngModel)]="dateOf">
                        <mat-datepicker-toggle matIconSuffix [for]="pickerOf"></mat-datepicker-toggle>
                        <mat-datepicker #pickerOf></mat-datepicker>
                    </mat-form-field>

                    <span class="dash">—</span>

                    <mat-form-field>
                        <input matInput [matDatepicker]="pickerTo" placeholder="To"
                            [(ngModel)]="dateTo">
                        <mat-datepicker-toggle matIconSuffix [for]="pickerTo"></mat-datepicker-toggle>
                        <mat-datepicker #pickerTo></mat-datepicker>
                    </mat-form-field>

                </div>
                <span class="filer-subtitle">Language</span>

                <mat-form-field>
                    <mat-label>Languages</mat-label>
                    <mat-chip-grid  #chipGridLanguage aria-label="Fruit selectionL" >
                      <mat-chip-row *ngFor="let language of sortForForum.Language" (removed)="removeLanguage(language)" >
                          {{language}}
                        <button matChipRemove [attr.aria-label]="'remove ' + language" >
                          <mat-icon color="warn">cancel</mat-icon>
                        </button>
                      </mat-chip-row>
                    </mat-chip-grid>
                    <input [(ngModel)]="searchStringLanguage"
                    [ngModelOptions]="{standalone: true}" (input)="onSearchChangeLanguage()"
                      [matChipInputFor]="chipGridLanguage" [matAutocomplete]="autoLanguages" 
                      />
                    <mat-autocomplete  #autoLanguages="matAutocomplete"  (optionSelected)="selectedLanguage($event)">
                      <mat-option *ngFor="let language of findLanguages | async" [value]="language">
                          <span>{{language}}</span>
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>

                <span class="filer-subtitle">Game</span>
                <mat-form-field>
                    <mat-label>Game</mat-label>
                    <mat-chip-grid  #chipGrid aria-label="Fruit selection" >
                      <mat-chip-row *ngFor="let game of games" (removed)="remove(game)" >
                          {{game.title}}
                        <button matChipRemove [attr.aria-label]="'remove ' + game" >
                          <mat-icon color="warn">cancel</mat-icon>
                        </button>
                      </mat-chip-row>
                    </mat-chip-grid>
                    <input placeholder="Game/Games" [(ngModel)]="searchString"
                    [ngModelOptions]="{standalone: true}" (input)="onSearchChange()"
                      [matChipInputFor]="chipGrid" [matAutocomplete]="auto" 
                      />
                    <mat-autocomplete #auto="matAutocomplete"  (optionSelected)="selected($event)">
                      <mat-option *ngFor="let game of findGames | async" [value]="game">
                          <div>
                            <img [src]="game.headerImage" [height]="50" [width]="150">
                            <span>{{game.title}}</span>
                          </div>
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>

                  <mat-checkbox color="primary" (change)="changeClosed()" [(indeterminate)]="indeterminate"
                  [(ngModel)]="sortForForum.Closed" [ngModelOptions]="{standalone: true}"
                  class="filter-closed">Closed</mat-checkbox>

                <span class="filer-subtitle">Rating</span>

                <div class="rating-filter">

                    <mat-form-field>
                        <mat-label>Of</mat-label>
                        <input matInput type="number" min="0" max="50000" oninput="validity.valid||(value='');"
                            [(ngModel)]="sortForForum.RateOf">
                    </mat-form-field>

                    <span class="dash">—</span>

                    <mat-form-field>
                        <mat-label>To</mat-label>
                        <input matInput type="number" min="0" max="50000" oninput="validity.valid||(value='');"
                            [(ngModel)]="sortForForum.RateTo">
                    </mat-form-field>

                </div>
                <a mat-button color="primary" (click)="find()">Find</a>
            </div>

        </div>
    </div>
</div>