<div class="container-page">

    <div class="search">
        <mat-icon class="search-icon">search</mat-icon>
        <input class="search-input" (keyup.enter)="find()" [(ngModel)]="sortForForum.SearchString">
    </div>

    <div class="wrapper">

        <div class="forum-list">
            <!-- *ngFor="let forum of forums" -->

            <div class="forum-container">
                <div class="forum">
                    <img class="forum-img"
                        src="https://avatars.steamstatic.com/15ac8351b9d83aba0f4dcd4d38a22108b0534ea0_medium.jpg"
                        [height]="70">
                </div>
                <div class="forum-content">
                    <a href="">Title post</a>
                    <span>Description asfsadfsad fsadf dsaf asdf sdaf asdasdsa first 30+- chars</span>
                    <span>Rating</span>
                    <span>Date created</span>
                    <span>Laungauges</span>
                    <span>Finish</span>
                    <a href="">Game</a>
                    <a href="">Theme</a>
                    <a href="">Author post</a>
                </div>

            </div>

        </div>

        <button mat-icon-button (click)="toggleFilters()" class="burger-filter-button">
            <mat-icon>filter_list</mat-icon>
        </button>

        <div class="right-wrapper" [class.show-wrapper]="showFilters">
            <mat-form-field class="sorting">
                <mat-label>Choose a sorting</mat-label>
                <mat-select [(value)]="sortForForum.Sorting">
                    <mat-option value="lastReplies">Last Replies</mat-option>
                    <mat-option value="countReplies">Count Replies</mat-option>
                    <mat-option value="countLikes">Count Likes</mat-option>
                    <mat-option value="dateCreateAscending">Date Create Ascending</mat-option>
                    <mat-option value="dateCreateDescending">Date Create Descending</mat-option>
                </mat-select>
            </mat-form-field>
            <div class="filters">
                <span class="filter-title">Filters</span>

                <span class="filer-subtitle">Create Post Date</span>
                <div class="dense-1">
                    <mat-form-field>
                        <input matInput [matDatepicker]="pickerOf" placeholder="Of"
                            [(ngModel)]="sortForForum.CreateDateOf">
                        <mat-datepicker-toggle matIconSuffix [for]="pickerOf"></mat-datepicker-toggle>
                        <mat-datepicker #pickerOf></mat-datepicker>
                    </mat-form-field>
                    <span class="dash">—</span>
                    <mat-form-field>
                        <input matInput [matDatepicker]="pickerTo" placeholder="To"
                            [(ngModel)]="sortForForum.CreateDateTo">
                        <mat-datepicker-toggle matIconSuffix [for]="pickerTo"></mat-datepicker-toggle>
                        <mat-datepicker #pickerTo></mat-datepicker>
                    </mat-form-field>
                </div>
                <span class="filer-subtitle">Language</span>
                                <!-- <cdk-virtual-scroll-viewport itemSize="auto" class="list-genres">
                    <ng-container *ngIf="filtersArray && filtersArray.length">
                        <mat-checkbox *cdkVirtualFor="let genre of filtersArray" name="{{genre.name}}" color="primary"
                            (change)="onChange($event)">{{genre.name}}</mat-checkbox>
                    </ng-container>
                </cdk-virtual-scroll-viewport> -->
                <span class="filer-subtitle">Game</span>

                <mat-checkbox color="primary" (change)="changeClosed()" [(indeterminate)]="indeterminate"
                    [(ngModel)]="sortForForum.Closed" [ngModelOptions]="{standalone: true}"
                    class="filter-closed">Closed</mat-checkbox>

                <span class="filer-subtitle">Rating</span>
            <div class="rating-filter">
                <mat-form-field>
                    <mat-label >Of</mat-label>
                    <input matInput type="number" min="0" max="50000" oninput="validity.valid||(value='');" [(ngModel)]="sortForForum.RatingOf" >
                </mat-form-field>
                <span class="dash">—</span>
                <mat-form-field >
                    <mat-label>To</mat-label>
                    <input matInput type="number" min="0" max="50000" oninput="validity.valid||(value='');" [(ngModel)]="sortForForum.RatingTo" >
                </mat-form-field>
            </div>
                <a mat-button color="primary" (click)="find()">Find</a>
            </div>

        </div>
    </div>
</div>