<div class="container-page">   
    <div class="wrapper">
        <p>GameProfile is a website for counting your progress in games, hours spent and so on.</p>
        <p>Registered users: {{count}}</p>
        <p>Version: 0.1.1</p>
        <p>You can add games to lists, add comments, write forum posts receive notifications and more.</p>
        <a href="https://discord.gg/9z66XRhGNZ">You can join our Discord to keep up to date</a>
        <p><a href="game/add-game">Add game</a></p>
    </div>
</div>    