<div class="container-page" >
    <div [style.background-image]="'url(' + game?.backgroundImage + ')'">
    <div class="game-container">
        <div class="game-shared">
            <div class="header-image">
                <img src="{{game?.headerImage}}">
                <div class="add-game" *ngIf="isAuthenticated()">
                    <mat-form-field class="sorting">
                        <mat-label>Status</mat-label>
                        <mat-select [(value)]="status">
                            <mat-option [value]="1">Playing</mat-option>
                            <mat-option [value]="2">Completed</mat-option>
                            <mat-option [value]="3">Dropped</mat-option>
                            <mat-option [value]="4">Planned</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="sorting ">
                        <mat-label>hours</mat-label>
                        <input matInput type="number" min="0" max="876000" oninput="validity.valid||(value='');"
                            [(ngModel)]="hours">
                    </mat-form-field>
                    <button mat-raised-button color="accent" (click)="addGameToProfile()">Save changes</button>

                    <div class="rating">
                        <div class="rating-content">
                            <span> <mat-icon color="primary" class="star">star</mat-icon> {{rating}}</span>
                            <mat-slider class="slider" [max]="10" [min]="0" [step]="1">
                                <input  matSliderThumb [(ngModel)]="rating" #slider>
                                 </mat-slider>
                        </div>           
                         <button mat-raised-button color="accent" (click)="addRating()">Submit</button>

                    </div>

                </div>
    

            </div>

            <div class="game-description">
                <h2>{{game?.title}} <mat-icon color="primary" class="star">star</mat-icon>{{averageScore()}}</h2>
                <span class="description">{{game?.description}}</span>
                <span>Developers: <span *ngFor="let developer of game.developers"><a
                            href="/game/filter?type=developer&name={{developer.gameString}}">{{developer.gameString}}</a></span><span> Publishers: <span *ngFor="let publisher of game.publishers"><a
                                href="/game/filter?type=publisher&name={{publisher.gameString}}">{{publisher.gameString}}</a></span></span></span>               
                <span>Release Date: <span *ngIf="game.releaseDate.slice(0,-9) != '0001-01-01'">{{game.releaseDate.slice(0,-9)}}</span> <span *ngIf="game.releaseDate.slice(0,-9) == '0001-01-01'">Coming soon</span></span>
                <div class="review-block">Reviews:<div class="review" *ngFor="let item of game.reviews">
                    <img *ngIf="item.site == 1" class="review-icon" src="/assets/steam-logo.svg">
                    <img *ngIf="item.site == 2" class="review-icon" src="/assets/metacritic-logo.svg">
                    <img *ngIf="item.site == 3" class="review-icon" src="/assets/gameprofile-logo.png">
                     {{item.score}}</div>
                </div>
                <span >Nsfw: <span class="nsfw" [ngClass]="{'nsfw-true': game.nsfw == true,'nsfw-false': game.nsfw ==false}"><span *ngIf="game.nsfw; else noNsfw">Yes</span><ng-template #noNsfw>No</ng-template></span></span>
                <span>Genres: <span *ngFor="let item of game.genres" class="genre">{{item.gameString}} </span></span>
                <span>Tags: <span *ngFor="let item of game.tags" class="tag">{{item.gameString}} </span></span>
                <span>Achievements count: {{game?.achievementsCount}}</span>
                <span>Links: <a *ngFor="let item of game.shopsLinkBuyGame" href="{{item.uri}}">{{item.uri}} </a></span>
            </div>         

        </div>       

    </div>

    </div>
    
    <div class="comments">
        <span class="comments-title">Comments</span>
        <span *ngIf="!isAuthenticated()">You must be logged in to your account to send a comment</span>

            <div *ngIf="isAuthenticated()" class="add-comment">

                <mat-form-field class="text-area">
                    <mat-label>Comment</mat-label>
                    <textarea maxlength="1024" matInput [(ngModel)]="comment"></textarea>
                </mat-form-field>

                <a mat-raised-button color="accent" class="button-send" (click)="sendComment()">Send</a>

            </div>

        <div class="comment" *ngFor="let comment of comments;let i = index">
            <div class="comment-header">
                <span class="comment-author"><a href="/profile/{{comment.profileId}}">{{comment.profile.name.value}} <span *ngIf="comment.profile.gameHasRatingFromProfiles.length >0"><mat-icon color="primary" class="star">star</mat-icon>{{comment.profile.gameHasRatingFromProfiles[0].reviewScore}}</span> </a></span>
                
                <span class="comment-date">{{comment.createdDate.slice(0,10)}}</span>
            </div>

            <div *ngIf="checkCanControlComment(comment.profileId)">
                <a mat-raised-button color="warn" (click)="deleteComment(comment.id)">Delete</a>
                <a mat-raised-button color="accent" (click)="editComment(i)">Edit</a>
            </div>

            <div class="comment-content">          

                <span  *ngIf=" editCommentNumber !== i; else edit;" >{{comment.comment}}</span>

                <ng-template #edit>
                    <div class="edit">
                    <mat-form-field class="textArea">
                        <mat-label>Answer</mat-label>
                        <textarea maxlength="1024" matInput [(ngModel)]="editCommentContent"></textarea>
                    </mat-form-field>

                    <div class="buttons">
                        <a mat-raised-button color="accent"
                            (click)="updateComment(comment.id,editCommentContent)">Save</a>
                        <a mat-raised-button color="primary" (click)="editComment(-5)">Cancel</a>
                        </div>
                    </div>

                </ng-template>                                   

            </div>

            <a mat-button class="replie-button" *ngIf="isAuthenticated();" (click)="addReplieF(i,'')"  color="primary">Replie</a>    
            
            
            <div class="replie-add" *ngIf="addReplieNumber == i">

                <mat-form-field class="textArea">
                    <mat-label>Text</mat-label>
                    <textarea maxlength="1024" matInput [(ngModel)]="addReplieContent"></textarea>
                </mat-form-field>

                <div class="buttons">
                    <a mat-raised-button color="accent" (click)="sendReplie(comment.id,addReplieContent)">Send</a>
                    <a mat-raised-button color="warn" (click)="addReplieF(-2,'')">Cancel</a>
                </div>
            </div>

            <div class="replies">

                <div class="replie" *ngFor="let replie of comment.gameCommentHasReplies;let j = index">
                    <div class="replie-header">
                        <span class="comment-author"><a href="/profile/{{comment.profileId}}">{{comment.profile.name.value}} <span *ngIf="comment.profile.gameHasRatingFromProfiles.length >0"><mat-icon color="primary" class="star">star</mat-icon>{{comment.profile.gameHasRatingFromProfiles[0].reviewScore}}</span> </a></span>
                        
                        <span class="comment-date">{{comment.createdDate.slice(0,10)}}</span>
                    </div>
                    <div *ngIf="checkCanControlComment(replie.profileId)">
                        <a mat-raised-button color="warn" (click)="deleteReplie(replie.id)">Delete</a>
                        <a mat-raised-button color="accent" (click)="editReplieF(i,replie.replie)">Edit</a>
                    </div>

                    <div class="replie-content">          

                        <span  *ngIf=" editReplieNumber !== i; else editReplie;" >{{replie.replie}}</span>

                        <ng-template #editReplie>
                            <div class="edit">
                            <mat-form-field class="textArea">
                                <mat-label>Answer</mat-label>
                                <textarea maxlength="1024" matInput [(ngModel)]="editReplieContent"></textarea>
                            </mat-form-field>

                            <div class="buttons">
                                <a mat-raised-button color="accent"
                                    (click)="updateReplie(replie.id,editReplieContent)">Save</a>
                                <a mat-raised-button color="primary" (click)="editReplieF(-5,'')">Cancel</a>
                                </div>
                            </div>

                        </ng-template>

                </div>

            </div>

    </div>
</div>

