<div class="container-page">
    <div class="content">
        <h2>Login In</h2>
        <a href="https://steamcommunity.com/openid/login?openid.ns=http://specs.openid.net/auth/2.0&openid.mode=checkid_setup&openid.return_to=https://localhost:4200/after-login-steam&openid.realm=https://localhost:4200&openid.identity=http://specs.openid.net/auth/2.0/identifier_select&openid.claimed_id=http://specs.openid.net/auth/2.0/identifier_select" >
            <img src="https://img.shields.io/badge/Steam-000000?style=for-the-badge&logo=steam&logoColor=white" height="75"  />
        </a>
    </div>
</div>