<div class="container-page">
    <div class="content">
        <h2>Login In</h2>
        <div class="">
            <a href="{{urlSteam}}">
                <img src="https://img.shields.io/badge/Steam-000000?style=for-the-badge&logo=steam&logoColor=white"
                    height="75" />
            </a>
        </div>
        <div>
            <h2>How is it work?</h2>
            <span>
                Don't worry, I don't have access to your password. I use Steam OpenID to authenticate you. <a href="https://openid.net/developers/how-connect-works/">You can read more here</a>.
            </span>
        </div>
    </div>
</div>