<div class="container-page">
    <div class="wrapper">
        <table>
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Total Hours Played</th>
                <th>Total Verify Hour</th>
                <th>Total Not Verify Hours</th>
                <th>Total Games</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let stat of stats; let i = index">
                <td>{{ i + 1 }}</td>
                <td><a  href="profile/{{stat.profileId}}">{{ stat.profieleNickname }}</a></td>
                <td>{{ stat.totalHours }}</td>
                <td>{{ stat.hoursVerificated }}</td>
                <td>{{ stat.notVereficatedHours }}</td>
                <td>{{ stat.countGames }}</td>
              </tr>
            </tbody>
          </table>
          <a mat-button color="primary" href="advanced-statistics" class="advanced-statistics">Advanced-statistics</a>
    </div>
</div>