<div class="container-page">
    <div class="profile-info-container">
        <span class="nickname">{{profile.nickName}}</span>
        <img class="avatar" src="{{profile.avatar}}">
        <div class="time">
            <span>Total time: {{profile.totalHours}}</span>
            <span>Verified time: {{profile.totalHoursVerification}}</span>
            <span>Not validation time: {{profile.totalHoursNotVerification}}</span>
        </div>
    </div>
    <div class="menu">
        <button mat-button color="primary">Games</button>
        <button mat-raised-button color="accent" #tooltip="matTooltip"
        matTooltip="Click and expect the games to be updated and added soon.

        Click to add games from a new account.
        
        Available 2 times a day (At the moment it is not stable and there are bugs )
        "
         (click)="updateVereficated()">Update Vereficated</button>
        <a mat-raised-button color="primary" href="{{urlSteam}}">Add steam profile</a>
        <button mat-raised-button color="warn" (click)="logout()">Logout</button>
    </div>

    <div clas="steams">
        <span>Steam id: </span>
        <a *ngFor="let item of steamIds" href="https://steamcommunity.com/profiles/{{item}}">{{item}} </a>
    </div>

    <span>{{gamesCount}}</span>
    <div class="game-menu">
        <button mat-button [ngClass]="{ 'active': selectedState === 'all' }" (click)="selectState('all')">All</button>
        <button mat-button [ngClass]="{ 'active': selectedState === 'playing' }" (click)="selectState('playing')">Playing</button>
        <button mat-button [ngClass]="{ 'active': selectedState === 'completed' }" (click)="selectState('completed')">Completed</button>
        <button mat-button [ngClass]="{ 'active': selectedState === 'dropped' }" (click)="selectState('dropped')">Dropped</button>
        <button mat-button [ngClass]="{ 'active': selectedState === 'planned' }" (click)="selectState('planned')">Planned</button>
      </div>
      <div class="sort">
        <mat-form-field class="sort" >
        <mat-label>Sorting</mat-label>
        <mat-select [(ngModel)]="sort" (selectionChange)="selectState(selectedState)">
            <mat-option [value]="'titleAtoZ'">Title A to Z</mat-option>
            <mat-option [value]="'titleZtoA'">Title Z to A </mat-option>
            <mat-option [value]="'hoursAsc'"> Hours Ascending</mat-option>
            <mat-option [value]="'hoursDesc'">Hours Descending</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="sort" >
        <mat-label>Verification hours</mat-label>
        <mat-select [(ngModel)]="verification" (selectionChange)="selectState(selectedState)">
            <mat-option [value]="'yes'">Yes</mat-option>
            <mat-option [value]="'no'">no</mat-option>
        </mat-select>
    </mat-form-field>

    </div>

    <div>
        <span class="nickname">Total hours: {{profile.totalHoursForSort}}</span>
    </div>
    
    <div class="game-list">
        <div *ngFor="let game of profile.gameList">
            <div class="game-container">
                <a href="game?id={{game.id}}"
                    *ngIf="game.title.length > 30;else elseBlock">{{game.title.slice(0,30)}}..</a>
                <ng-template #elseBlock>
                    <a href="game?id={{game.id}}">{{game.title}}</a>
                </ng-template>

                <a href="game?id={{game.id}}"><img src="{{game.headerImage}}" [height]="115" [width]="250" class="game-image" /></a>

                <span class="hoursVereficated">Hours Vereficated: {{game.hoursVereficated}}</span>

                <mat-form-field class="sorting">
                    <mat-label >hours</mat-label>
                    <input matInput type="number" min="0" max="876000" oninput="validity.valid||(value='');" [(ngModel)]="game.hours" >
                </mat-form-field>
                <mat-form-field class="sorting">
                    <mat-label>Status</mat-label>
                    <mat-select [(value)]="game.statusGame">
                        <mat-option [value]="1">Playing</mat-option>
                        <mat-option [value]="2">Completed</mat-option>
                        <mat-option [value]="3">Dropped</mat-option>
                        <mat-option [value]="4">Planned</mat-option>
                    </mat-select>
                </mat-form-field>
                <button class="marg" mat-raised-button color="accent" (click)="updateGame(game)">Save changes</button>
                <button mat-raised-button color="warn" (click)="deleteGameConfirm(game)">Delete</button>
            </div>
        </div>
    </div>
</div>