<div class="container-page">
    <div class="profile-info-container">
        <span class="nickname">{{profile.nickName}}</span>
        <img class="avatar" src="{{profile.avatar}}">
        <div class="time">
            <span>Total time: {{profile.totalHours}}</span>
            <span>Verified time: {{profile.totalHoursVerification}}</span>
            <span>Not validation time: {{profile.totalHoursNotVerification}}</span>
        </div>
    </div>
    <div class="menu">
        <button mat-button [ngClass]="{ 'active': selectedStateMenu === 'Games' }" (click)="selectMenu('Games')">Games</button>
        <button mat-button [ngClass]="{ 'active': selectedStateMenu === 'Ranks' }" (click)="selectMenu('Ranks')" >Ranks</button>
        <button mat-button [ngClass]="{ 'active': selectedStateMenu === 'Settings' }" (click)="selectMenu('Settings')">Settings</button>  
        <button mat-raised-button color="warn" (click)="logout()">Logout</button>
    </div>
    
    <div *ngIf="selectedStateMenu === 'Games'">
        <app-profile-games-component [profile]="profile" [gamesCount]="gamesCount"></app-profile-games-component>  
    </div>

    <div *ngIf="selectedStateMenu === 'Ranks'">
        <app-profile-games-ranks-component></app-profile-games-ranks-component>
    </div>

    <div *ngIf="selectedStateMenu === 'Settings'">
        <app-profile-settings-component></app-profile-settings-component>
    </div>
   

</div>